@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Gochi+Hand&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header,
.container {
  height: 100%;
}

body {
  font-size: 16px;
}

/* HEADER */
header {
  display: grid;
  align-items: center;

  position: relative;
  width: 100%;
  min-height: 560px;
  margin: 0 auto;
  padding: 60px 0 0;
}

.bg {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

/* Trigger Button */
button.trigger {
  display: block;
  position: fixed;
  right: 0;
  bottom: 10px;
  left: 0;
  width: 80%;
  z-index: 5000;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: transparent;
  border: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.container:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

button.trigger:focus {
  outline: none;
}

/* Push */
.intro-effect-push:not(.notrans) header,
.intro-effect-push:not(.notrans)>.name-tag,
.intro-effect-push:not(.notrans) .resume>div {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.intro-effect-push:not(.notrans) header {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

.intro-effect-push header {
  position: fixed;
  z-index: 1500;
}

.intro-effect-push>.name-tag {
  position: relative;
  top: auto;
  left: auto;
  padding: 6em 1em 2em;
}

.intro-effect-push .resume>div {
  margin-top: 50px;
  color: #b2b2c0;
}

.intro-effect-push>.name-tag,
.intro-effect-push .resume>div {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
  opacity: 0;
}

.intro-effect-push.modify>.name-tag,
.intro-effect-push.modify .resume>div {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.intro-effect-push.modify header {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9);
}

/* Delays */
.intro-effect-push.modify:not(.notrans)>.name-tag {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.intro-effect-push.modify:not(.notrans) .resume>div {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* HEADER CONTINUATION */
.name-tag {
  width: 80%;
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
  background-color: #0DB2C8;
  line-height: 1;
  text-align: center;
  filter: drop-shadow(0 0 15px rgb(13, 178, 200));
}

.name__intro {
  padding: 25px 0 15px;
  color: #fff;
  font-family: "Poppins", cursive;
  text-transform: uppercase;
}

.name__intro h1 {
  font-size: 5.625rem;
  font-weight: 400;
  line-height: 1;
}

.name__intro p {
  padding-bottom: 25px;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.name__info {
  width: 96%;
  margin: auto;
  padding: 2% 0;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-family: "Gochi Hand", cursive;
}

.name-given {
  padding-bottom: 15px;
  font-size: 6.25rem;
}

.name-social {
  list-style: none;
}

.name-social li {
  display: inline-block;
}

.name-social a {
  margin: 0 20px;
}

.name-social i {
  color: #000;
  font-size: 3.125rem;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.name-social .fa-linkedin:hover {
  color: #007bb5;
}

.name-social .fa-github:hover {
  color: #333;
}

.name-social .fa-behance-square:hover {
  color: #131418;
}

.name-social .fa-instagram:hover {
  color: #4c5fd7;
}

@media (max-width: 767px) {
  header {
    padding: 25px 0;
  }

  .name__intro {
    padding: 15px 0;
  }

  .name__intro h1 {
    font-size: 440%;
  }

  .name__intro p {
    font-size: 220%;
    padding-bottom: 20px;
  }

  .name__info {
    width: 95%;
    padding: 75px 0;
  }

  .name-given {
    padding-bottom: 8px;
    font-size: 470%;
  }
}

@media (max-width: 525px) {
  .name_tag {
    margin: auto;
  }

  .name__intro p {
    padding-bottom: 15px;
  }

  .name__info {
    padding: 65px 0;
  }

  .name-social a {
    margin: 0 5px;
  }
}

@media (max-width: 320px) {

  .name__intro h1 {
    font-size: 315%;
  }

  .name__intro p {
    font-size: 150%;
  }

  .name__info {
    padding: 15px 0 10px;
  }

  .name-given {
    font-size: 345%;
  }

  .name-social {
    display: inline-block;
  }

  .name-social li {
    width: 100%;
  }

  .name-social a {
    margin: 0 1%;
  }

  button.trigger {
    font-size: 88%;
  }
}

/* RESUME */
.resume {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: repeat(3, 50%);
  grid-template-areas:
    "name photo"
    "work objective"
    "skills education";
  gap: 2em;
  padding: 3em;

  width: 95%;
  max-width: 210mm;
  margin: 0 auto;
}

.resume section {
  /* padding: 2.2em; */
  overflow: hidden;
}

.name {
  grid-area: name;
  place-self: center;

  font-weight: bold;
  text-align: center;
}

.resume h1 {
  font-size: 2.8125rem;
}

.resume h3 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: normal;
}

.resume h4 {
  padding-bottom: 5px;
  font-size: 1.25rem;
}

#contact__details {
  padding: 25px 0;
}

.resume__body,
.resume__body h3 {
  padding-bottom: 15px;
}

.resume p {
  font-size: 1.0625rem;
}

.name h3 {
  font-style: normal;
  font-weight: bold;
}

.name #contact__details div {
  font-size: 1.5625rem;
}

.photo {
  grid-area: photo;
  place-self: center;
}

.photo img {
  width: 200px;
}

.objective {
  grid-area: objective;
}

.work {
  grid-area: work;
}

.education {
  grid-area: education;
}

.skills {
  grid-area: skills;
}

.skills__list div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.skills__list div>* {
  font-size: 1.25rem;
}

.skills__list img {
  width: 100%;
  max-width: 125px;
  padding-right: 25px;
  transform: scale(50%);
}

@media (max-width: 768px) {
  .resume {
    grid-template-columns: 100%;
    grid-template-areas:
      "photo"
      "name"
      "objective"
      "work"
      "skills"
      "education";
    row-gap: 10px;
    /* max-height: none; */
    padding: 1em;
  }

  .resume section {
    padding: 0;
  }

  .skills__list div {
    flex: 1;
  }
}

@media (max-width: 320px) {
  .resume h1 {
    font-size: 200%;
  }

  .resume h3 {
    font-size: 155%;
  }

  section.name {
    margin-bottom: 30px;
  }
}

/* PORTFOLIO */
.portfolio_container {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Eb Garamond", sans-serif;
}

.portfolio_container h2 {
  padding: 50px 0;
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
}

.gallery {
  width: 500px;
  clear: both;
  margin-bottom: 45px;
}

.gallery:nth-child(2n + 1) {
  float: left;
}

.gallery:nth-child(2n) {
  float: right;
}

.gallery figure {
  height: 250px;
}

.gallery a {
  text-decoration: none;
}

.gallery img,
.gallery p {
  width: 100%;
  width: 500px;
  height: 100%;
  max-height: 250px;
  border: 5px solid #000;
}

.gallery.grid {
  list-style: none;
  text-align: center;
}

.gallery.grid figure {
  margin: 0;
  position: relative;
}

.gallery.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  border: 5px solid #000;
  height: 100%;
  width: 100%;
}

.gallery.grid figcaption a {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  border-radius: 2px;
  text-align: center;
}

.gallery.grid figure img {
  display: block;
  position: relative;
  max-width: 100%;
  z-index: 10;
  transition: transform 0.4s;
}

.gallery.grid figure:hover img {
  border: 0;
  transform: translateY(-20px) scale(0.7);
}

.gallery.soon figure {
  background: #333;
  color: #fff;
}

.gallery.soon p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-light,
.btn-dark {
  display: block;
  margin-bottom: 0.3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  text-align: center;
}

.btn-light {
  left: 20px;
  background: #999;
  color: #000;
}

.btn-dark {
  right: 20px;
  background: #1a1a1a;
  color: #fff;
}

.btn-dark:hover,
.btn-light:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 768px) {

  .gallery,
  .gallery img,
  .gallery p {
    width: 100%;
  }

  .gallery.grid {
    margin-bottom: 25px;
  }
}

@media (max-width: 525px) {
  .gallery.grid figure img {
    filter: blur(2px);
  }

  .gallery.grid figure a {
    width: 60%;
    z-index: 999;
    transform: translate(-50%, -50%);
  }

  .gallery.grid .btn-light {
    top: 40%;
    bottom: unset;
    left: 50%;
  }

  .gallery.grid .btn-dark {
    top: 60%;
    bottom: unset;
    left: 50%;
  }
}

@media (max-width: 320px) {
  .portfolio_container h2 {
    font-size: 210%;
  }

  .gallery.grid figure a {
    width: 70%;
  }

  .gallery.grid .btn-dark {
    top: 69%;
  }

  .gallery.grid .btn-light {
    top: 33%;
  }
}