* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  /* padding: 2.500em; */
  font-family: 'Poppins', cursive;
}

.name-tag {
  width: 80%;
  height: 688px;
  margin: 10px auto auto;
  border-radius: 10px;
  background-color: #EE0000;
  text-align: center;
  filter: drop-shadow(0 0 12px rgb(177, 0, 24));
}

.name__intro {
  padding: 30px 0;
  color: #fff;
  text-transform: uppercase;
}

.name__intro h1 {
  font-size: 100px;
  line-height: 1.3;
}

.name__intro p {
  padding-bottom: 8px;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.name__info {
  width: 98%;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-family: 'Gochi Hand', cursive;
}

.name-given {
  padding-bottom: 25px;
  font-size: 6.25rem;
}

.name-social {
  list-style-type: none;
}

.name-social li {
  display: inline-block;
}

.name-social a {
  margin: 0 20px;
}

.name-social i {
  color: #000;
  font-size: 3.625rem;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.name-social .fa-linkedin:hover {
  color: #007bb5;
}

.name-social .fa-github:hover {
  color: #333;
}

.name-social .fa-behance-square:hover {
  color: #131418;
}

.name-social .fa-instagram:hover {
  color: #4c5fd7;
}

@media (max-width: 767px) {
  .name__intro h1 {
    font-size: 300%;
  }

  .name__intro p {
    font-size: 150%;
    padding-bottom: 2.250em;
  }

  .name__info {
    width: 97%;
    padding: 112px 0;
  }

  .name-given {
    padding-bottom: 8px;
    font-size: 400%;
  }

  .name-social a {
    margin: 0 20px;
  }
}

@media (max-width: 620px) {
  .name__info {
    padding: 32px 0;
  }

  .name__intro p {
    padding-bottom: 42px;
  }

  .name-social a {
    margin: 0 32px;
  }
}

@media (max-width: 530px) {
  body {
    padding: 24px;
  }

  .name-tag {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .name__intro p {
    padding-bottom: 32px;
  }

  .name-social a {
    margin: 0 24px;
  }
}

@media (max-width: 320px) {
  .name-social a {
    margin: 0 16px;
  }
}